body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#flashcard {
    max-width: 90vw;
    max-height: 90vh;
    border: 1px solid #ccc;
    object-fit: contain;
}

.buttons {
    margin-top: 30px;
}

button {
    padding: 30px 40px;
    margin: 0 5px;
    font-size: 26px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#card-number {
    margin-top: 10px;
}
